@model MVCControlEscolar.Models.EstatusAcreditacion

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Realmente desea eliminar este?</h3>
<div>
    <h4>Estatus de Acreditaci&oacute;n</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.Nombre) *@
            Nombre
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.Status) *@
            Estatus
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />&nbsp;
        <a asp-action="Index" class="btn btn-primary">Regresar</a>
    </form>
</div>
